.carousel :global(.slick-track) {
  display: flex;
  align-items: center;
}

.carouselItem {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.carousel :global(.slick-slide) {
  transition: opacity 0.5s ease;
}
